#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on change
watch_file devshell.toml

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi
use flake

export DECKDIR=/home/deck
export DECKKEY=$HOME/.ssh/id_rsa
export DECKPASS=22
export DECKPORT=22
export DECKIP=192.168.1.229
